body {
  background: #fafafa;
}

.emphasizer {
  color: orange;
}
.g-maps {
    height: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.border-col {
    border: 1px solid;
}

.btn, 
.btn-large {
  background: #15323a;
}

.form-center {
    width: 95%;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;

}

.map {
    width: 100%;
    height: 600px;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

/*.map:before {
  content: "Click on a location to view details.";
}*/

/*
  Little override/fix for a Materialize bug,
  which was causing the error message to be
  wrapped on spaces ... which was weird.
*/
label {
    white-space: pre;
}

/*
  Override silly Materialize 70% default width,
  wastes too much of the page.
*/
.container {
  width: 90%;
}

.event-count,
.search-location {
  color: orange;
}

.caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}


h1 {
 font-size: 3.1rem;
 text-align: center;
 text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
 font-weight: bold;
}

.h2-about {
 font-size: 2.5rem;
 text-align: center;
 text-shadow: 0 2px 0 rgba(255, 255, 255, 0.4);
 font-weight: bold;
}

.nav-yellow {
 background: #ffed00;
}

.nav-items {
  font-size: 1.4rem;
  color: black;
  letter-spacing: 0;
  font-weight: bold;
}

.footer-copyright {
  background: #bdb32f;
  min-height: 30px;
  text-decoration: none;
  padding: 20px;
  text-align: right;
}

.no-line {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.keep-in-div {
  width: 80%;
  padding: 25px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  height: 180px;
  box-sizing: border-box;
}

.col-text {
  text-align: center;
  max-height: 400px;
}

.btn-center {
  text-align: center;
}

@media (max-width: 600px) {

  .map {
    height: 200px;
  }

  #resultsTitle {
    font-size: 1.5rem;
  }

}

